.header {
  position: static;
  width: 1440px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 92px;
  margin-bottom: 96px;
}

.header__menu {
  width: 1340px;
  height: 109px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list ul {
  display: flex;
  gap: 32px;
  text-decoration: underline;
}

.header__links-list ul li:first-child {
  text-decoration: unset;
  list-style: none;
}

.header__links-list ul li {
  list-style: circle;
  background-clip: padding-box;
}