.header {
  position: static;
  width: 1440px;
<<<<<<< HEAD
=======
  height: 293px;
>>>>>>> 4c1feea60eecb0d8ca8035000474ee14a26a468d
  background: #FFF;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__menu {
<<<<<<< HEAD
  width: 1340px;
  height: 109px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
=======
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 216px;
  width: 1340px;
  height: 109px;
  margin-top: 92px;
>>>>>>> 4c1feea60eecb0d8ca8035000474ee14a26a468d
}

.header__links-list {
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list ul {
  display: flex;
  gap: 32px;
  text-decoration: underline;
}

.header__links-list ul li:first-child {
  text-decoration: unset;
  list-style: none;
}

.header__links-list ul li {
  list-style: circle;
  background-clip: padding-box;
=======
  align-items: center;
  color: #000;
}

.header__links-list ul {
  list-style: circle;
  display: flex;
  gap: 32px;
}

.header__links-list li:first-child {
  list-style: none;
}

.header__link {
  text-decoration: underline;
}

.header__logo-image {
  display: block;
  width: 138px;
  height: 105px;
  background-image: url("/images/logo-black.svg");
  background-size: contain;
  cursor: pointer;
}

.address {
  margin-top: 5px;
  margin-left: 145px;
  line-height: 24.3px;
}

.header__address {
  display: block;
}

.cover {
  width: 1440px;
  height: 757px;
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.overlay {
  height: 757px;
  background: rgb(0 0 0 / .6);
}

.cover__title {
  padding: 165px 50px 237px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  letter-spacing: 60px;
}

.aligned-text_center {
  justify-content: center;
>>>>>>> 4c1feea60eecb0d8ca8035000474ee14a26a468d
}